body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  label {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  input {
    height: 20px;
  }
  #entryInput {
    height: 200px;
  }
  button {
    margin-top: 20px;
    width: 100px;
    height: 25px;
    background-color: #f44242;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

.entry-form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.entry-text, .answer {
  width: 60%;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.entry-text {
  margin-top: 60px;
}

.answer {
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}
